## Import

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

## Exploring data

### Read raw data from file

In [2]:
# Read data from CSV file
movie_df = pd.read_csv('../data/raw/data.csv')

# Display the first 5 lines of data
movie_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### How many rows and how many columns does the raw data have?

In [3]:
n_rows, n_cols = movie_df.shape

n_rows, n_cols

(8807, 12)

### What is the meaning of each row?

### Are there duplicated rows?

In [4]:
# Check for duplicate rows
is_duplicate = movie_df.duplicated().all()

is_duplicate

False

In [5]:
if is_duplicate == True:
    movie_df.drop_duplicates(inplace=True)

### What is the meaning of each column?

- show_id : Unique ID for each movie/ tv show 
- type : Type of the movie/ tv show (Movie or TV Show) 
- title : Title of the movie/ tv show 
- director : Director of the movie/ tv show 
- cast : Cast of the movie/ tv show 
- country : Country where the movie/ tv show was produced 
- date_added : Date when the movie/ tv show was added to Netflix 
- release_year : Year when the movie/ tv show was released 
- rating : Rating of the movie/ tv show 
- duration : Duration of the movie/ tv show 
- listed_in : Genre of the movie/ tv show 
- description : Description of the movie/ tv show

### What is the current data type of each column? Are there columns having inappropriate data types?

In [6]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

We observe that the column "release_year" has numeric type. However, its magnitude does not have a significance. And, it actually represents a period instead of a number. Thus, it can be convert to categorical type.

In [7]:
movie_df["release_year"] = movie_df["release_year"].astype(str)

# Chuyển cột 'date_added' thành kiểu datetime
movie_df['date_added'] = pd.to_datetime(movie_df['date_added'], errors='coerce')

In [8]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8709 non-null   datetime64[ns]
 7   release_year  8807 non-null   object
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), object(11)
memory usage: 825.8+ KB

### With each numerical column, how are values distributed?

In [9]:
num_col_info_df = movie_df.select_dtypes(exclude='object')

def missing_ratio(s):
    return (s.isna().mean() * 100).round(1)
    # raise NotImplementedError()

num_col_info_df = num_col_info_df.agg([missing_ratio, "min", "max"])
num_col_info_df

                        date_added
missing_ratio                  1.1
min            2008-01-01 00:00:00
max            2021-09-25 00:00:00

### With each categorical column, how are values distributed?

In [10]:
cate_col_info_df = movie_df.select_dtypes(include='object')

# Create an empty DataFrame to store the summary information
summary_df = pd.DataFrame(columns=['Column', 'Number of Unique Values', 'Missing Ratio', 'Sample Values'])

# Display distribution, missing values, and unique values for each categorical column
for column in cate_col_info_df.columns:
    unique_values = cate_col_info_df[column].nunique()
    missing_values = missing_ratio(cate_col_info_df[column])
    
    sample_values = cate_col_info_df[column].unique()[:5]
    
    
    # Use loc to add rows to the summary DataFrame
    summary_df.loc[len(summary_df)] = [column, unique_values, missing_values, sample_values]

# Display the summary DataFrame
summary_df

,Column,Number of Unique Values,Missing Ratio,Sample Values
0,show_id,8807,0.0,"[s1, s2, s3, s4, s5]"
1,type,2,0.0,"[Movie, TV Show]"
2,title,8807,0.0,"[Dick Johnson Is Dead, Blood & Water, Gangland..."
3,director,4528,29.9,"[Kirsten Johnson, nan, Julien Leclercq, Mike F..."
4,cast,7692,9.4,"[nan, Ama Qamata, Khosi Ngema, Gail Mabalane, ..."
5,country,748,9.4,"[United States, South Africa, nan, India, Unit..."
6,release_year,74,0.0,"[2020, 2021, 1993, 2018, 1996]"
7,rating,17,0.0,"[PG-13, TV-MA, PG, TV-14, TV-PG]"
8,duration,220,0.0,"[90 min, 2 Seasons, 1 Season, 91 min, 125 min]"
9,listed_in,514,0.0,"[Documentaries, International TV Shows, TV Dra..."
10,description,8775,0.0,"[As her father nears the end of his life, film..."

In [11]:
for i in range(11):
    print(summary_df['Sample Values'][i])

['s1' 's2' 's3' 's4' 's5']
['Movie' 'TV Show']
['Dick Johnson Is Dead' 'Blood & Water' 'Ganglands'
 'Jailbirds New Orleans' 'Kota Factory']
['Kirsten Johnson' nan 'Julien Leclercq' 'Mike Flanagan'
 'Robert Cullen, José Luis Ucha']
[nan
 'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng'
 'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera'
 'Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar'
 'Kate Siegel, Zach Gilford, Hamish Linklater, Henry Thomas, Kristin Lehman, Samantha Sloyan, Igby Rigney, Rahul Kohli, Annarah Cymone, Annabeth Gish, Alex Essoe, Rahul Abburi, Matt Biedel, Michael Trucco, Crystal Balint, Louis Oliver']
['United States' 'South Africa' nan 'India'
 'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia']
['2020' '2021' '1993' '2018' '1996']
['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG']
['90 min' '2 Seasons' '1 Season' '91 min' '125 min']
['Documentaries' 'International TV Shows, TV Dramas, TV Mysteries'
 'Crime TV Shows, International TV Shows, TV Action & Adventure'
 'Docuseries, Reality TV'
 'International TV Shows, Romantic TV Shows, TV Comedies']
['As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable.'
 'After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.'
 'To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war.'
 'Feuds, flirtations and toilet talk go down among the incarcerated women at the Orleans Justice Center in New Orleans on this gritty reality series.'
 'In a city of coaching centers known to train India’s finest collegiate minds, an earnest but unexceptional student and his friends navigate campus life.']

### Save to processed.csv

In [12]:
movie_df.to_csv("../data/processed/processed.csv",sep = ',', encoding= 'utf-8', index=False)